* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sarabun', sans-serif;
}

* body {
  /* position: relative;
  display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2B2D42;
}

.header {
  color: #EDF2F4;
}

.header2 {
  color: #8D99AE;
}

.timerText {
  color: #EF233C;
}

.prompt {
  color: #EDF2F4;
  font-weight: bolder;
}